# Modo de operação do projeto

# 'prod' para produção e 'develop' para desenvolvimento
OPERATION_MODE= develop

# Binance API

# API URLs

API_URL=            https://api.binance.com/api
TESTNET_API_URL=    https://testnet.binance.vision/api

# Binance SPOT API

API_KEY=    # Place your API key from your Binance account
SECRET_KEY= # Place your secret key from your Binance account

# Testnet API

TESTNET_API_KEY=    # Place your Testnet API key
TESTNET_SECRET_KEY= # Place your Testnet secret key
